
.autocomplete {
    background: white;
    z-index: 1000;
    font: 15px/25px "Open Sans", sans-serif;
    font-weight: 300;
    overflow: auto;
    box-sizing: border-box;
    border: 1px solid rgba(50, 50, 50, 0.2);
    border-radius: 5px;
}

.autocomplete * {
    font: inherit;
}

.autocomplete > div {
    padding: 0 4px;
}

.autocomplete .group {
    background: #eee;
}

.autocomplete > div:hover:not(.group),
.autocomplete > div.selected {
    background: rgba(0, 162, 182, 0.6);
    cursor: pointer;
}

